@import url(./variables.css);
@import url(./fonts);
@import url(./form.css);
@import url(./utility.css);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body{
    overflow-x: hidden;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Roboto', sans-serif;
    color: white;
  }
  
  h1 {
    font-size: 40px;
  }
  
  .heading {
    font-size: 52px;
  }
  

  
  p,
  a,
  label,
  span,
  li {
    font-family: 'Roboto', sans-serif;
    all: unset;
  }

  
  p {
    font-size: 16px;
    line-height: 1.5;
    color: var(--white);
  }
  
  a {
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
  }
  
  @media (max-width: 1000px) {
    h1 {
      font-size: 30px;
    }
  
    .heading {
      font-size: 35px;
    }
  }
  
  body {
    width: 100%;
    /* background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; */
    background-color: var(--main-bg-color);
  }
  
  .box-screen{
    padding: 0 100px;
    margin: 0 auto;
  }

/*   section {
    padding: 0 100px;
    margin: 0 auto;
  }
   */
  @media (max-width: 1000px) {
    main {
      width: 90%;
      margin: 0 auto;
    }
  }
  
  @media(min-width: 1400px) {
      main {
          width: 1100px;
          margin: 0 auto
      }
  }

  .cta {
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    border-radius: var(--border-radius);
    color: #ffffff;
    font-size: 15px;
    padding: 16px;
    text-align: center;
    border: none;
    cursor: pointer;
    border: .1px solid transparent;
  }
 
  .socials img{
    height: auto;
    width: 50px;
  }

  
  
  
  .cta:hover {
    filter: invert();
    border: .1px solid white;
  }
  