:root {
    --main-bg-color: rgba(30, 30, 30, 1);
    --bg-color-1: #191919;
    --bg--color-2: #131313;
    --white: white;
    --black: black;
    --brown: #282106;
    --green: #10330A;
    --blue: #0585CD;
    --brown-2: #321E01;
    --blue-2: #001120;
    --purple: #190628;
  }
  